@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

.wrapper {
	padding: 80px 0;
	text-align: center;
}

.wrapper h2 {
	font-size: 45px;
	font-weight: 700;
	padding-bottom: 40px;
}

.wrapper figure {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 !important;
}

.wrapper figure a {
    width: 65px;
    height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.wrapper figure a::before,
.wrapper figure a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.378);
	animation: ripple-1 2s infinite ease-in-out;
	z-index: -1;
}

.wrapper figure a::after {
	background: rgb(255 255 255 / 73%);
	animation: ripple-2 2s infinite ease-in-out;
	animation-delay: 0.5s;
}

@keyframes ripple-1 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes ripple-2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}